.blokk{
    font-family: BLOKKRegular;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font: 100% sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2{
    margin: 0;
}

.container{
    max-width: 980px;
    padding: 5.10204%;
    margin: auto;
    background-color: #bababa;
}

.um{
    width: 40.8163%;
    background-color: #d6d6d6;
    margin-left: 5.10204%;
    padding: 1.0204% 2.0408%;
    overflow: hidden;
}