/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   MODIFICADO
*/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
ul,
li,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

/* Utilidades */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf::before,
.cf::after {
  content: " ";
  display: table;
}

.cf::after {
  clear: both;
}

.cf {
  *zoom: 1;
}

body {
  font: 62.5%/1.4 verdana, sans-serif;
}

.tudo {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

header {
  height: 5.6em;
  background-color: #030;
  background-image: url("../images/logo200x46.png"),
    url("../images/grama85x70.jpg");
  background-position: center, center;
  background-repeat: no-repeat, repeat;
}

header h1 {
  text-indent: -99999px;
}

form {
  position: relative;
}

.busca {
  width: 100%;
  height: 4em;
  text-align: center;
  background: #aedce9;
  margin: 0.5em 0;
}

.busca input[type="search"] {
  width: 98%;
  height: 1.5em;
  color: #346da6;
  font-size: 1.5em;
  border: none;
  margin-top: 0.5em;
  background: #aedce9;
}

.busca input[type="submit"] {
  width: 32px;
  height: 3em;
  position: absolute;
  right: 1.5%;
  top: 0;
  text-indent: -99999px;
  cursor: pointer;
  border: none;
  background: #aedce9 url("../images/icones.png") -206px no-repeat;
}

.noticias {
  margin-top: 1em;
  padding-top: 1.2em;
  border-top: 1px solid #00b7f0;
}

.box {
  margin: 2em 0;
  padding: 0 0.2em;
}

.box figure {
  margin: 0;
}

.box h2 {
  margin: 0.2em 0 0.6em 0;
  font-size: 1.6em;
}

.box p {
  font-size: 1.2em;
  color: #333;
}

.box a {
  font-weight: bold;
  text-decoration: none;
  color: #555;
}

.box a:hover {
  text-decoration: underline;
}

.box.noti h2 {
  color: #fbb718;
}

.informacoes {
  background: #aedce9;
  padding: 1em 0;
}

.box.info figure {
  float: left;
  margin-right: 1em;
}

.box.info h2 {
  color: #00b7f0;
}

footer {
  text-align: center;
  font-size: 1.2em;
}

.social {
  height: 5.2em;
  background: green url("../images/grama85x70.jpg");
}

.social li {
  margin-top: 1.3em;
  margin-right: 1em;
  display: inline-block;
}

.social li a {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../images/icones.png") 0 center no-repeat;
  text-indent: -9999px;
}

.social li:nth-child(2) a {
  background-position: -42px;
}

.social li:nth-child(3) a {
  background-position: -84px;
}

.social li:nth-child(4) a {
  background-position: -126px;
}

.social li:nth-child(5) a {
  background-position: -168px;
}

.links li {
  height: 64px;
  float: right;
  margin-top: 1.3em;
  display: inline-block;
}

.links li:first-child {
  float: left;
  margin-left: 1em;
}

.links li:first-child span {
  color: blue;
}

.links li:last-child {
  line-height: 5;
  margin-right: 1em;
}
.links li:last-child span {
  color: #fbb718;
}
.links li:first-child a {
  display: block;
  height: 64px;
  padding-left: 50px;
  background: url("../images/icones.png") -250px center no-repeat;
}
.links a {
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

.copyright{
  background-color: #333333;
  color: #f3f3f3;
}

/*===========NAV=================*/

.nav {
  position: relative;
  z-index: 99999;
  background-color: #00b7f0;
  height: 4em;
  font-weight: bold;
}
.nav ul {
  margin: 0;
  padding: 0;
}
.nav li {
  font-size: 1.4em;
  text-transform: uppercase;
  margin-right: 0.5em;
  margin-top: 0.7em;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.nav a {
  padding: 0.5em 1.2em;
  text-decoration: none;
  color: #fff;
}
.nav a:hover {
  background: #e2a618;
  color: #333;
  border-radius: 0.4em;
}
.nav .current a {
  cursor: default;
  background: #e2a618;
  color: #333;
  border-radius: 0.4em;
}
.nav.center ul {
  text-align: center;
}

@media screen and (max-width: 680px) {
  .nav {
    position: relative;
    padding-top: 0.3em;
  }
  .nav li {
    background: #00b7f0;
    display: none;
    margin: 0;
  }
  .nav .current {
    display: block;
  }
  .nav .current a:after {
    content: "\2630";
    position: absolute;
    right: 0.2em;
    top: 0;
    font-size: 2em;
    color: #fff;
  }
  .nav a {
    display: block;
    padding: 0.5em 0.5em 0.5em 1em;
    text-align: left;
  }
  .nav .current a {
    width: 5.6em;
    margin-left: 0.5em;
  }
  .nav ul:hover li {
    border-bottom: 1px solid #aedce9;
    display: block;
    margin: 0;
  }
}
