/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   MODIFICADO
*/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
ul,
li,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

/* Utilidades */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf::before,
.cf::after {
  content: " ";
  display: table;
}

.cf::after {
  clear: both;
}

.cf {
  *zoom: 1;
}

body {
  font-size: 62.5%/1.4 sans-serif;
}

.tudo {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

header{
    height: 5.6em;
    background-color: #030;
    background-image: url('../images/logo200x46.png'), url('../images/grama85x70.jpg');
    background-position: center, center;
    background-repeat: no-repeat, repeat;
}

header h1{
    text-indent: -99999px;
}
